HOST=0.0.0.0
PORT=8001
PUID=1000
PGID=1000
PUBLIC_BASE_PATH=
UPSTREAM_ORIGIN=https://30nama.com
CNAMA_DATA_DIR=./data
SQLITE_PATH=./data/cnama.sqlite
DOWNLOAD_TMP_DIR=./data/downloads
PLEX_MOVIES_DIR=./data/plex/Movies
PLEX_TV_DIR=./data/plex/TV
DOWNLOAD_CONCURRENCY=2
