HOST=0.0.0.0
PORT=8001
PUBLIC_BASE_PATH=
UPSTREAM_ORIGIN=https://30nama.com
SQLITE_PATH=./data/cnama.sqlite
DOWNLOAD_TMP_DIR=./data/downloads
PLEX_MOVIES_DIR=./data/plex/Movies
PLEX_TV_DIR=./data/plex/TV
DOWNLOAD_CONCURRENCY=2
