PORT=8010
PUID=1000
PGID=1000
CNAMA_DATA_DIR=./data
SQLITE_PATH=./data/cnama.sqlite
DOWNLOAD_TMP_DIR=./data/downloads
PLEX_MOVIES_DIR=./data/plex/Movies
PLEX_TV_DIR=./data/plex/TV
PUBLIC_BASE_PATH=
DOWNLOAD_CONCURRENCY=2
DOWNLOAD_CONNECTIONS=32
